<!-- As a heading -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- title -->
        <span class="navbar-brand text-primary mb-0 h1">Reddit.js</span>
      <!-- button -->
        <a href="/posts/new" class="navbar-btn mr-auto">New Post</a>
        <ul class="nav navbar-nav">
          <li><a href="/logout">Logout</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/sign-up">Sign Up</a></li>
        </ul>
    </div>
  </div>
</nav>
